<div class="flex flex-col h-screen bg-gray-950 text-white">
  <header
    class="bg-gray-900 text-white p-3 shadow-md flex items-center justify-center"
  >
    <div
      class="logo-container cursor-pointer flex items-center shadow-md rounded-full"
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
    >
      <img
        src="assets/icons/android-chrome-512x512.png"
        alt="Chatter Pattar Logo"
        class="logo-round shadow-xl"
      />
      <h1 class="text-lg font-semibold ml-2 text-[#074678]">Chatter Pattar</h1>
    </div>
  </header>

  <main
    class="flex-grow overflow-y-auto p-4 container my-0 mx-auto"
    id="chat-container"
    #chatContainer
  >
    <ng-container *ngIf="messages?.length; else noChatHistory">
      <div *ngFor="let message of messages" class="mb-2 flex items-start">
        <div *ngIf="!message.isUser" class="flex-shrink-0 mr-2">
          <img
            src="assets/icons/android-chrome-512x512.png"
            alt="Logo"
            class="message-icon"
          />
        </div>
        <div
          class="p-2 rounded-lg shadow-md max-w-full break-words message-container overflow-scroll"
          [ngClass]="{
            'ml-auto user-message text-right text-black': message.isUser,
            'mr-auto response-message text-white': !message.isUser,
            'opacity-75': message.isPartial
          }"
        >
          <ng-container *ngIf="!message.isTypingLoader">
            <markdown [data]="message.text"></markdown>
          </ng-container>
          <ng-container *ngIf="message.isTypingLoader">
            <div class="snippet" data-title="dot-flashing">
              <div class="stage">
                <div class="dot-flashing"></div>
              </div>
            </div>
          </ng-container>
        </div>
        <div
          *ngIf="message.isUser"
          class="flex-shrink-0 ml-2 rounded-full bg-white text-black"
        >
          <i class="fas fa-user message-icon"></i>
        </div>
      </div>
    </ng-container>
    <ng-template #noChatHistory>
      <p class="text-gray-500 text-center">No Chat History!</p>
    </ng-template>
  </main>

  <footer class="bg-gray-900 shadow-md">
    <div class="container flex items-end my-0 mx-auto">
      <textarea
        #inputTextarea
        [(ngModel)]="inputMessage"
        (keydown.enter)="sendMessage()"
        class="flex-grow max-h-28 px-4 py-3 border rounded-lg bg-gray-800 text-white placeholder-gray-500 resize-none"
        placeholder="Start Chatter Pattar"
        [disabled]="isReceiving"
        rows="1"
        (input)="adjustTextareaHeight($event)"
      ></textarea>
      <button
        (click)="sendMessage()"
        class="bg-white text-black p-3 rounded-lg ml-2 flex items-center justify-center shadow-md"
        *ngIf="!isReceiving"
      >
        <i class="fas fa-paper-plane"></i>
      </button>
      <button
        (click)="stopResponse()"
        class="bg-[#fcad27] text-white p-3 rounded-lg ml-2 flex items-center justify-center shadow-md"
        *ngIf="isReceiving"
      >
        <i class="fas fa-stop"></i>
      </button>
    </div>
  </footer>
</div>
